* {
    box-sizing: border-box;
}
body {
    background-image: url('../media/casino.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #f6f4f4;
    max-width: 800px;  
}
nav {
    border-radius: 5px;
    opacity: 0.8;
    text-align: center;
    background-color: #d20202; 
}
nav ul li {
    display:inline-table;
    border-radius: 20px;
    padding: 5px; 
    background-color:#a58d00;
    font-size: 20pt;
}
nav ul li:hover {
    background: #001eff;    
}
nav ul li a {
    color: #d20202;
    text-decoration: none;
}
header {    
    border-radius: 5px;
    background-color: #d20202; 
    opacity: 0.8;
    text-align: center;  
}
h1 {
    font-size: 25pt; 
}
article {
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(210,2,2,0.8);
    font-size: 15pt;
}
footer {
    border-radius: 5px;
    opacity: 0.8;
    padding: 2px;
    background-color: #d20202;
    text-align: center;
}

/* Grid Classes */
.top { grid-area: t }
.bottom { grid-area: b }
.menu { grid-area: m }
.left { grid-area: l }
.middle { grid-area: mid }
.right { grid-area: r }
/* Default grid container */
.grid-container {
	display:grid;
    row-gap: 10px;
	grid-template-rows:max-content;
	grid-template-areas:
	't t t t t t'
	'm m m m m m'
	'mid mid mid mid mid mid'
	'b b b b b b';
}
/* Mobile grid container */
@media (max-width: 750px) {
	.grid-container {
        display:grid;
        row-gap: 5px;
        grid-template-rows:max-content;
		grid-template-areas:
		't t t t t t'        
		'mid mid mid mid mid mid'
		'm m m m m m'
		'b b b b b b';
	}
}